.header {
  text-align: center;
  margin: 150px;
  border: 2px solid black;
  width: 50%;
  height: 30vh;
}

.header:hover {
  -webkit-box-shadow: 6px 2px 55px 12px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 6px 2px 55px 12px rgba(0, 0, 0, 0.66);
  box-shadow: 6px 2px 55px 12px rgba(0, 0, 0, 0.66);
}
.header p{
margin: 30px;

}.header p input{
 border: none;
  width: 60%;
 text-align: center;
 text-transform: uppercase;
 font-size: 2rem;
 box-sizing: unset;

}
.header p input:hover{
  border-bottom: 2px solid violet;
}
.header button{
  width: 50%;
  height: 3rem;
  color:#fff;
  background: red;
}